h1{
	text-align: center;
}
h3{
	margin:0;
}

.header{
	background-color:#01579b;
	height:60px;
}
.header a{
	color:#fff;
	text-decoration:none;
	line-height:60px;
}

.tabs{
	width:30%;
	float:left;
}

.menu{
	width: 30%;
	float:left;
	background-color:#FAFAFA;
}
.intro{
	margin-top:30px;
}

.single .details{
	width: 65%;
	float:left;
	padding:1em;
}

.details img{
	max-width: 300px;
}

.snippet{
	background:#000;
	color:#fff;
	margin:1em 0 1em 0;
	padding:1em;
}

.navbar{
	padding-top:1em;
	padding-left:1em;
}

.navbar a{
	color:#424242;
	text-decoration:none;
	cursor:pointer;
}
